<li><%= post.get('title') %></li>
<button class="edit-button" data-id="<%= post.get('id') %>">Edit</button>
<button class="delete-button" data-id="<%= post.get('id') %>">Delete</button>
<p><%= post.get('body') %></p>

<a href="#/">Back to all posts</a>